@model Balbet.WEB.Models.UserViewModel
 
<div>
    @Html.LabelFor(model => model.Login) : @Html.DisplayFor(model=> model.Login)
</div>
<div>
    @Html.LabelFor(model => model.FirstName) : @Html.DisplayFor(model => model.FirstName)
</div>
<div>
    @Html.LabelFor(model => model.LastName) : @Html.DisplayFor(model => model.LastName)
</div>
<div>
    @Html.LabelFor(model => model.Sex) : @Html.DisplayFor(model => model.Sex)
</div>
<div>
    @Html.LabelFor(model => model.Age) : @Html.DisplayFor(model => model.Age)
</div>
<div>
    @Html.LabelFor(model => model.Passport) : @Html.DisplayFor(model => model.Passport)
</div>
